VITE_API_BASE_URL=http://localhost:4000
PORT=4000
MONGO_URI=mongodb://localhost:27017/inventory_sales
JWT_SECRET=replace-me
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=replace-me
EMAIL_PASS=replace-me
EMAIL_FROM=no-reply@example.com

IMAGEKIT_PUBLIC_KEY = public_123456789=
IMAGEKIT_PRIVATE_KEY = private_123456789=
IMAGEKIT_URL_ENDPOINT = https://ik.imagekit.io/<imagekit-id>
