.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  border-bottom: 2px solid #9f9f9f;
  padding: 0.75rem;
  background-color: #424457;
}
.header p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border-radius: 1.5rem;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.13);
}
.search input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
}
.search input::placeholder {
  color: #fff;
}

.header-mobile-logo, .header-mobile-settings {
  display: none;
}

@media (max-width: 768px) {
  .header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    background-color: transparent;
    border-bottom: none;
    padding: 1rem 1.5rem;
  }
  .header-mobile-logo {
    display: flex;
    align-items: center;
  }
  .header-mobile-logo img {
    height: 40px;
    width: 40px;
  }
  .header-mobile-settings {
    display: flex;
    align-items: center;
  }
  .header-title, .search {
    display: none;
  }
}
