* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}
.link {
  color: #1e4ae9;
}
:root {
  --secondary-color: #313957;
  --primary-text: #0c1421;
}
.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}
.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #424457;
  position: relative;
}

@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
    background-color: var(--secondary-color);
  }
  .app-content {
    background-color: transparent;
    padding-bottom: 70px;
  }
  .app-content.is-settings {
    padding-top: 0;
  }
  .settings-header-wrapper {
    display: none;
  }
}
